{% extends "base.html" %}
{% block body %}

<div class="col-md-12 px-2 d-flex flex-column justify-content-center align-items-center">
    <h3>Deconnexion</h3>
    <div>
        <a href="/logout" class="btn btn-danger btn-delete btn-sm">Deconnexion</a>
    </div>
</div>
<br>
{% if session['role'] == 'private'%}
<div class="col-md-12 px-2 d-flex flex-column justify-content-center align-items-center">
    <h3>Creation de compte</h3>
    {% with messages = get_flashed_messages()  %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <form action="/create" method="POST">
        <input type="username" name="username" placeholder="Username"> <br><br>
        <input type="password" name="password" placeholder="Password"> <br><br>
        <select name="role">
            <option value="private">Employé</option>
            <option value="client" selected="selected">Client</option>
        </select> <br><br>
        <input type="submit" value="Créer">
    </form>
</div>
{% endif %}

{% endblock %}